@model TrinhHongQuyen_2122110059.Model.Category

<h2>
    @{
        ViewData["Title"] = "Sửa";
        ViewData["Action"] = "EditCategory";
    }
</h2>

<form asp-action="@ViewData["Action"]" method="post">
    <div class="form-group">
        <label>Tên danh mục</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Link ảnh</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Hiển thị</label>
        <input asp-for="IsActive" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="CategoryList" class="btn btn-danger">Hủy</a>

</form>
